<form action="/random/results">
  <div>
    <label for="user_min">Minimum</label>
    <input id="user_min" placeholder="E.g. 1.5" name="user_min">
  </div>

  <div>
    <label for="user_max">Maximum</label>
    <input id="user_max" placeholder="E.g. 4.5" name="user_max">
  </div>

  <div>
    <button>Pick a random number</button>
  </div>
</form>