<form action="/square_root/results">
  <div>
    <label for="lion">Enter a number</label>
    <input id="lion" placeholder="Type a number" name="lion">
  </div>

  <div>
    <button>Calculate square root</button>
  </div>
</form>