<form action="/square/results">
  <div>
    <label for="giraffe">Enter a number</label>
    <input id="giraffe" placeholder="Type a number" name="elephant">
  </div>  

  <div>
    <button>Calculate square</button>
  </div>
</form>